/*H1 style*/
h1 {
    font-family: "Optima";
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: bolder;
    text-align: left
}

/*p style*/
p, li {
    font-family: "Avenir";
    font-size: 14px; 
    text-align: left
}

#welcome-text {
    padding-right: 50px;
    padding-left: 50px;
}

#top {
    background: #FFF3E1;
    box-shadow: 0px 3px 6px gray;
    border-bottom: 2px solid #FFE8C4;
    padding-bottom: 15px;
}

#filter-bar {
    /*figure out how to left align the subtitles and buttons*/
}

/*current knowledge button style*/
button.filter {
    height: 100px;
    width: 100px;
    font-family: "Avenir";
    font-size: 14px; 
    text-align: center;
    font-weight:100;
    vertical-align: top;
    background: linear-gradient(to left, white 50%, #FFC15E 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 2px solid #FFC15E;
    border-style: outset;
    margin: 0px;
}

button.filter.filled {
    background: linear-gradient(to left, white 50%, #FFC15E 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition:all 700ms linear;
}

/*checkbox styles*/
label {
    font-family: "Avenir";
    font-size: 14px; 
    text-align: left;
    font-weight:100;
}

/*counter*/
#count {
    padding: 13px;
    width: 100px;
    text-align: center;
    margin-left: 15px;
}

/*reset button*/
button.reset {
    height: 50px;
    width: 100px;
    font-family: "Avenir";
    font-size: 14px; 
    text-align: center;
    font-weight:100;
    background: white;
    border: 2px solid lightgray;
    border-style: outset;
}

#by-line {
    float: right;
    padding: 10px;
}

#iterate {
    margin-bottom: 50px;
}

div.card {
    height: 411px; /*HACK for card not expanding with contents. FIX for real*/
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    box-shadow: 2px 4px 6px gray;
    background: #C2E6FB;
}

.description,.pictures {
    background: white;
}

.card-image {
    display: inline-block;
    height: 200px;
    width: 30%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: 2px 4px 6px gray;
}

/*----------//PERSONA IMAGES\\----------*/
.persona-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/06/c5/71/06c5712a48716c82af295350680a06c1.jpg");
}

.persona-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/3d/6a/68/3d6a68a885133fcbf308e33364dd1dcf.jpg");
}

.persona-image-3 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/41/fc/1c/41fc1caffbb5dc1f281f628f5ec02460.jpg");
}

/*----------//JOURNEY MAP IMAGES\\----------*/
.journey-image-1 {
    background-image:url("https://d13yacurqjgara.cloudfront.net/users/220120/screenshots/1034908/jack_dribbble_bam_1x.jpg");
}

.journey-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/f8/b5/d1/f8b5d13afaa65dc24f851ff825402da3.jpg");
}

.journey-image-3 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/9f/a5/04/9fa504f2d0d63156d430fc73a74a0ce9.jpg");
}

/*----------//SCENARIOS IMAGES\\----------*/
.scenario-image-1 {
    background-image:url("https://www.smashingmagazine.com/wp-content/uploads/2013/12/brainwriting-6-opt.png");
}

.scenario-image-2 {
    background-image:url("https://uxthink.files.wordpress.com/2010/11/screen-shot-2010-11-16-at-10-07-05-am.png");
}

.scenario-image-3 {
    background-image:url("https://www.newfangled.com/wp-content/uploads/2014/08/stuffcontentmgrfiles2ab66c232f187a7e09b09f4ecbb26e0edmisc2014_02_18_users71.png");
}

/*----------//STORYBOARDS IMAGES\\----------*/   
.story-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/d0/61/4b/d0614b65da5237bf61d60d1c2909c0ed.jpg");
}

.story-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/eb/d4/6c/ebd46cfc79129ebe0089d8db0c59669c.jpg");
}

.story-image-3 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/1f/d1/61/1fd1618ae36b4015848f952f42d17c22.jpg");
}

/*----------//SEQUENCE FLOW MODEL IMAGES\\----------*/   
.sequence-image-1 {
    background-image:url("http://theteacher.info/websites/ocr_alevel/WebPages/F453_Advanced/Diagrams/SequenceDiagram.GIF");
}

.sequence-image-2 {
    background-image:url("https://d1dlalugb0z2hd.cloudfront.net/vpuml/tutorials/soaml-multi-party-service/21-complete-sequence-diagram.png");
}

.sequence-image-3 {
    background-image:url("http://www.ibm.com/support/knowledgecenter/pt-br/SSTLXK_7.5.1/com.ibm.wbpm.wle.editor.doc/modeling/image/example_decision_gateway_1.jpg");
}

/*----------//USER FLOW IMAGES\\----------*/   
.user-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/f0/cc/89/f0cc89756bdd487b515e4ef15e835dd9.jpg");
}

.user-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/236x/23/fd/0d/23fd0d4325c6e23ccf661f9ff9c705c5.jpg");
}

.user-image-3 {
    background-image:url("http://grahamtodman.co.uk/blog/wp-content/uploads/2012/04/TimeOut-travel-app-FLOW03.jpg");
}

/*----------//WIREFRAME IMAGES\\----------*/   
.wire-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/67/ed/70/67ed70a6ae6785bfe56cc33d53772fb5.jpg");
}

.wire-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/23/b4/dd/23b4dd6c4162d5bbaad48a9fe8855d1b.jpg");
}

.wire-image-3 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/bc/e2/95/bce295fa48708026a7a9c241b52ea693.jpg");
}

/*----------//LO-FI IMAGES\\----------*/   
.lofi-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/af/2e/4e/af2e4e2856886b5b6f4bf5c30562c2a5.jpg");
}

.lofi-image-2 {
    background-image:url("https://i.ytimg.com/vi/j2Q983tjXlk/hqdefault.jpg");
}

.lofi-image-3 {
    background-image:url("http://cs.wellesley.edu/~foodiere/images/testing/design2menu.JPG");
}

/*----------//HI-FI IMAGES\\----------*/   
.hifi-image-1 {
    background-image:url("http://uxmag.com/sites/default/files/article-images/prototype-real-data.png");
}

.hifi-image-2 {
    background-image:url("http://gohighbrow.com/wp-content/uploads/2016/05/6.4-Design-workflow-with-Sketch.png");
}

.hifi-image-3 {
    background-image:url("https://static1.squarespace.com/static/571593b3b6aa60770018658e/t/5748ab1b86db431f0937905d/1464380204078/");
}

/*----------//ITERATE IMAGES\\----------*/   
.iterate-image-1 {
    background-image:url("https://designmodo.com/wp-content/uploads/2012/08/iteration2.jpg");
}

.iterate-image-2 {
    background-image:url("https://public-media.interaction-design.org/images/uploads/140cc499019f2f55381a61f15e7d820b.png");
}

.iterate-image-3 {
    background-image:url("https://media.nngroup.com/media/editor/2012/10/30/iterative_design_improvements.gif");
}