/*H1 style*/
h1 {
    font-family: "Optima";
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400
    text-align: left
}

/*p style*/
p, li {
    font-family: "Avenir";
    font-size: 14px; 
    text-align: left
}

#welcome-text {
    padding-right: 50px;
    padding-left: 50px;
}

#top {
    background: #FFF3E1;
    box-shadow: 0px 3px 6px gray;
    border-bottom: 2px solid #FFE8C4;
    padding-bottom: 15px;
}

#filter-bar {
    /*figure out how to left align the subtitles and buttons*/
}

/*current knowledge button style*/
button.filter {
    height: 100px;
    width: 100px;
    font-family: "Avenir";
    font-size: 14px; 
    text-align: center;
    font-weight:100;
    vertical-align: top;
    background: #FFC15E;
    border: 2px solid #FFC15E;
    border-style: outset;
}

/*checkbox styles*/
label {
    font-family: "Avenir";
    font-size: 14px; 
    text-align: left;
    font-weight:100;
}

/*reset button*/
button.reset {
    height: 50px;
    width: 100px;
    font-family: "Avenir";
    font-size: 14px; 
    text-align: center;
    font-weight:100;
    background: white;
    border: 2px solid lightgray;
    border-style: outset;
}

div.card {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    box-shadow: 2px 4px 6px gray;
    background: #C2E6FB;
}

.description,.pictures {
    background: white;
}

.card-image {
    display: inline-block;
    height: 200px;
    width: 30%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.persona-image-1 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/06/c5/71/06c5712a48716c82af295350680a06c1.jpg");
}

.persona-image-2 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/3d/6a/68/3d6a68a885133fcbf308e33364dd1dcf.jpg");
}

.persona-image-3 {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/41/fc/1c/41fc1caffbb5dc1f281f628f5ec02460.jpg");
}